.LoadMoreButton {
	background-color: #eee;
	border-radius: 20px;
	margin: 10px;
	padding: 20px;
	text-align: center;
	width: 93%;
	background-color: rgb(68, 126, 192);
	border: none;
	outline: none;
	cursor: pointer;
}

.LoadMoreButton:active {
	background-color: blue;
}