.infoContainer {
	display: flex;
}

.infoCard {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: auto 50px auto 0;
	padding: 60px;
	text-align: center;
	height: 600px;
	width: 300px;
}

.imgContainer {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
	margin: auto;
}

.imgContainer img {
	margin-top: 10px;
	max-width: 90%;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black
}